/[Oo]bj/

/[Bb]in/[Dd]ebug/Cryptography
/[Bb]in/[Dd]ebug/FileGenerator
/[Bb]in/[Dd]ebug/HexaGenerator
/[Bb]in/[Dd]ebug/PBoxGenerator
/[Bb]in/[Dd]ebug/RSAGenerator
/[Bb]in/[Dd]ebug/SPN-CBC

/[Bb]in/[Rr]elease/Cryptography
/[Bb]in/[Rr]elease/FileGenerator
/[Bb]in/[Rr]elease/HexaGenerator
/[Bb]in/[Rr]elease/PBoxGenerator
/[Bb]in/[Rr]elease/RSAGenerator
/[Bb]in/[Rr]elease/SPN-CBC

*.exe
*.data